{% load i18n static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png" sizes="16x16">
        {% block title %}
        <title>Mylibrary</title>
        {% endblock %}
    </head>

    <body>
        <header class="header">
            <a href="{% url 'home' %}"><img class="logo" src="{% static 'images/logo.png' %}" alt="logo"></a>
            <h1>My Website</h1>

            <nav class="nav">
                <ul class="nav-menu">

                    {% if request.user.is_authenticated %}
                    <li class="nav-menu-item">
                        <a href="{% url 'home' %}"><i class="bi bi-house-fill"> Home </i></a></li>
                    {% else %}
                    <li class="nav-menu-item">
                        <a href="{% url 'index' %}"><i class="bi bi-house-fill"> Home </i></a></li>
                    {% endif %}

                    {% if request.user.is_authenticated %}
                    <li class="nav-menu-item">
                        <a href="{% url 'library_all' %}">Library</a>
                        <ul class="nav-submenu">
                            <li class="nav-submenu-item"><a href="{% url 'book_list' %}">Books</a></li>
                            <li class="nav-submenu-item"><a href="{% url 'author_list' %}">Authors</a></li>
                            <li class="nav-submenu-item"><a href="{% url 'publisher_list' %}">Publishers</a></li>
                            <li class="nav-submenu-item"><a href="{% url 'genre_list' %}">Genres</a></li>
                            <li class="nav-submenu-item"><a href="{% url 'collection_list' %}">Collections</a></li>
                            <li class="nav-submenu-item"><a href="{% url 'section_list' %}">Sections</a></li>
                        </ul>    
                    </li>
                    {% endif %}

                    <li class="nav-menu-item"><a href="{% url 'about' %}">About</a></li>

                    {% if request.user.is_authenticated %}
                    <li class="nav-menu-item right">
                        <a href="{% url 'logout' %}?next=/">
                            <img src="{{ user.profile.avatar.url }}" alt="{{ user.username }}" width="36" height="36"/>
                            <span>Logout</span>
                        </a>
                        <ul class="nav-submenu">
                            <li class="nav-submenu-item"><a href="{% url 'profile' %}">Profile</a></li>
                            <li class="nav-submenu-item"><a href="{% url 'password_reset' %}">Change Password</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-menu-item right">
                        <a href="{% url 'login' %}">Login</a>
                        <ul class="nav-submenu">
                            <li class="nav-submenu-item"><a href="{% url 'register' %}">Join Now</a></li>
                        </ul>
                    </li>
                    {% endif %}

                </ul>
            </nav>
        </header>

        <main class="main">
            <div class="container">

                {% if messages %}
                <div>
                    {% for message in messages %}
                        <div class="alert alert-{{message.tags}}">
                            <span class="alert-btn" onclick="this.parentElement.style.display='none';">&times;</span>{{message}}
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
                
                {%block content %}
                {%endblock content%}

                 <!-- Pagination block temporarily removed -->

            </div>
        </main>

        <footer class="footer">
            <div class="container">
                <p>Mybooks</p>
                <p>&copy; Copyright {% now "Y" %} by José Ferreira</p>
            </div>
        </footer>

    </body>
</html>