{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {%load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png" sizes="16x16">
        {% block title %}
        <title>Mylibrary</title>
        {% endblock %}
    </head>
    <body>
        <header class="header">
            <a href="#"><img class="logo" src="{% static 'images/logo.png' %}" alt="logo"></a>
            <h1>My Website</h1>
            <nav class="nav">
                <ul class="nav-menu">
                    {% if request.user.is_authenticated %}
                    <li class="nav-menu-item active"><a href="{% url 'home' %}"><i class="bi bi-house-fill"> Home </i></a></li>
                    {% else %}
                    <li class="nav-menu-item"><a href="{% url 'index' %}"><i class="bi bi-house-fill"> Home </i></a></li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                    <li class="nav-menu-item"><a href="{% url 'library-all' %}">Library</a>
                        <ul class="nav-submenu">
                            <li class="nav-submenu-item"><a href="{% url 'book-list' %}">Books</a></li>
                            <li class="nav-submenu-item"><a href="{% url 'author-list' %}">Authors</a></li>
                            <li class="nav-submenu-item"><a href="{% url 'publisher-list' %}">Publishers</a></li>
                            <li class="nav-submenu-item"><a href="{% url 'genre-list' %}">Genres</a></li>
                            <li class="nav-submenu-item"><a href="{% url 'collection-list' %}">Collections</a></li>
                            <li class="nav-submenu-item"><a href="{% url 'section-list' %}">Sections</a></li>
                        </ul>    
                    </li>
                    {% endif %}
                    <li class="nav-menu-item"><a href="{% url 'about' %}">About</a>
                    {% if request.user.is_authenticated %}
                    <li class="nav-menu-item right">
                        <a href="{% url 'logout' %}?next=/" style="text-align: right;">
                            <img src="{{ user.profile.avatar.url }}" alt="{{ user.username }}" width="36" height="36"/>
                            <span>Logout</span>
                        </a>
                        <ul class="nav-submenu">
                            <li class="nav-submenu-item"><a href="{% url 'profile' %}">Profile</a></li>
                            <li class="nav-submenu-item"><a href="{% url 'password_reset' %}">Change Password</a></li>
                        </ul>
                    {% else %}
                    <li class="nav-menu-item right"><a href="{% url 'login' %}">Login</a>
                        <ul class="nav-submenu">
                            <li class="nav-submenu-item"><a href="{% url 'register' %}">Join Now</a></li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main class="main">
            <div class="container">
                {% if messages %}
                <div>
                    {% for message in messages %}
                        <div class="alert alert-{{message.tags}}">
                            <span class="alert-btn" onclick="this.parentElement.style.display='none';">&times;</span>{{message}}
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
                
                {%block content %}
                {%endblock content%}

                {% block pagination %}
                    {% if is_paginated %}
                    <div class="pagination-panel">
                        <span class="page-links">
                            {% if page_obj.has_previous %}
                                <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">« previous - </a>
                            {% endif %}
                            <span class="page-current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                            </span>
                            {% if page_obj.has_next %}
                                <a href="{{ request.path }}?page={{ page_obj.next_page_number }}"> - next »</a>
                            {% endif %}
                        </span>
                    </div>
                    {% endif %}
                {% endblock %}
            </div>
        </main>
        <footer class="footer">
            <div class="container">
                <p>Mybooks</p>
                <p>&copy; Copyright {% now "Y" %} by José Ferreira</p>
            </div>
        </footer>
    </body>
</html>