{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {%load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        {% block title %}
        <title>Mylibrary</title>
        {% endblock %}
    </head>
    <body>
        <header class="header">
            <a href="#"><img class="logo" src="{% static 'images/logo.png' %}" alt="logo"></a>
            <h1>My Website</h1>

            <ul class="topnav">
                {% if request.user.is_authenticated %}
                <li class="active"><a href="{%url 'home'%}"><i class="bi bi-house-fill"> Home </i></a></li>
                {% else %}
                <li class="active"><a href="{%url 'index'%}"><i class="bi bi-house-fill"> Home </i></a></li>
                {% endif %}

                {% block navbar %}
                <li class="left">
                    {% if request.user.is_authenticated %}
                    <div class="dropdown left">
                        <button class="dropbtn">Library</button>
                        <div class="dropdown-content">
                            <div class="dropdown-content">
                                <a href="{% url 'books' %}">Books</a>
                                <a href="{% url 'authors' %}">Authors</a>
                                <a href="{% url 'publishers' %}">Publishers</a>
                                <a href="{% url 'genres' %}">Genres</a>
                                <a href="{% url 'collections' %}">Collections</a>
                                <a href="{% url 'sections' %}">Sections</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </li>
                {% endblock navbar %}

                <li><a href="{% url 'about' %}">About</a></li>

                <li class="left">
                    {% if request.user.is_authenticated %}
                        {% if user.profile %}
                            <img src="{{ user.profile.avatar.url }}" alt="{{ user.username }}" width="42" height="42"/>
                        {% endif %}
                    {% endif %}
                </li>


                {% if request.user.is_authenticated %}
                <li class="right">
                    <div class="dropdown right">
                        <button class="dropbtn" style="background-color: rgb(244, 127, 255); margin: 0%; padding: 0%;">
                            {{ request.user }}
                            <div style="background-color: rgb(127, 150, 255); float: left; margin: 0%; padding: 0%;">
                                <p> </p>
                            </div>
                            <div style="background-color: aquamarine; float: left; margin: 0%; padding: 0%;">
                                {% if user.profile %}
                                <img src="{{ user.profile.avatar.url }}" alt="{{ user.username }}" width="38" height="38" style="border-radius: 25px;"/>
                                {% endif %}
                            </div>
                        </button>
                        <div class="dropdown-content">
                            <div class="dropdown-content">
                                <a href="{% url 'profile' %}">Profile</a>
                                <a href="{% url 'password_reset' %}">Change Password</a>
                                <a href="{% url 'logout' %}?next=/">Logout</a>
                            </div>
                        </div>
                    </div>
                </li>
                {% else %}
                <li class="right">
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'register' %}">Join Now</a>
                </li>
                {% endif %}

            </ul>
        </header>

        <main class="main">
            <div class="container">
                
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{message.tags}}">
                        <span class="alert-btn" onclick="this.parentElement.style.display='none';">&times;</span>{{message}}
                    </div>
                {% endfor %}
            {% endif %}

            {%block content %}
            {%endblock content%}

            {% block pagination %}
                {% if is_paginated %}
                    <div class="pagination">
                        <span class="page-links">
                            {% if page_obj.has_previous %}
                                <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                            {% endif %}
                            <span class="page-current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>
                            {% if page_obj.has_next %}
                                <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                            {% endif %}
                        </span>
                    </div>
                {% endif %}
            {% endblock %}

            </div>
        </main>

        <footer class="footer">
            <div class="container">
                <p>Mybooks</p>
                <p>&copy; Copyright {% now "Y" %} by José Ferreira</p>
            </div>
        </footer>
    </body>
</html>