{%extends 'base.html'%}

{%block content%}
<div class="center-panel">
    <form method="post" class="form-card">
        {% csrf_token %}
        <h2>Password Reset Confirm</h2>
        
        {% for field in form %}
        <div class="form-group">
            <label class="label">{{ field.label_tag }}</label>
            {{ field }}

            {% if field.errors %}
            <ul class="errorlist">
                {% for error in field.errors %}
                    <li>{{ error|striptags }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% endfor %}

        <div class="form-buttons">
            <button type="submit" class="btn btn-primary">Reset Password</button>
		</div>
    </form>
</div>
{%endblock content%}