{% extends "base.html" %}

{% block navbar %}
	{% if request.user.is_authenticated %}
	<li class="dropdown">
		<a href="{% url 'books' %}" class="dropbtn">Books</a>
		<div class="dropdown-content">
			<a href="{% url 'authors' %}">Authors</a>
			<a href="{% url 'publishers' %}">Publishers</a>
			<a href="">Categories</a>
		</div>
	</li>
	{% endif %}
{% endblock navbar %}

{% block content %}
<div class="center-panel">
	<h2>Authors</h2>
	<hr>
	<div  class="list-controls">
		<a href="{% url 'author-create' %}"><i class="bi bi-plus-circle"></i> Create</a>
	</div>
	{% if object_list %}
	<ul class="list">
		{% for author in object_list %}
			<li><a href="{%url 'author' author.id %}">{{ author.name }}</a>
				 <div  class="list-controls">
				 	<a href="{%url 'author-delete' author.id %}"><i class="bi bi-trash"></i></a>
					<a href="{%url 'author-update' author.id %}"><i class="bi bi-pencil-square"></i></a>
		         </div>
		    </li>
		{% endfor %}
	{% endif %}
	</ul>
</div>
{% endblock content %}