{%extends 'base.html'%}

{%load static %}

{% block title %}My amazing home{% endblock %}

{% block navbar %}
	{% if request.user.is_authenticated %}
	<li class="dropdown">
		<a href="" class="dropbtn">Menu</a>
		<div class="dropdown-content">
			<a href="{% url 'books' %}">Books</a>
			<a href="{% url 'authors' %}">Authors</a>
			<a href="{% url 'publishers' %}">Publishers</a>
			<a href="">Categories</a>
		</div>
	</li>
	{% endif %}
{% endblock navbar %}

{%block content%}
	<section class="feature">
		<div class="feature-content">
			<h1>Homepage</h1>
			<p>{{ message }}</p>
			<p><strong>Books:</strong> {{ num_books }}</p>
			<p><strong>Authors:</strong> {{ num_authors }}</p>
			<img src="{%static 'images/erp.png'%}" alt="" class="feature-image">
		</div>
	</section>
{%endblock content%}