{% extends "base.html" %}

{% block content %}
 <article class="list">
	<header>
		<h2>{{ author.first_name }} {{ author.last_name }}</h2>
	</header>
	<p><b>Born:</b> {{author.date_of_birth}}</p>
	<p><b>Died:</b>{{ field.label_tag }} {{author.date_of_death}}</p>
	<p><b>Summary:</b></p>
	<p>{{author.summary}}</p>
	<br>
	{% if author.headshot %}
	<img src="{{ author.headshot.url }}" alt="{{ author.headshot }}" class="image"  accept=".png" width="200" height="200"/>
	{% endif %}
	<br>
	<br>
	<a class="btn btn-primary cta" href="{% url 'authors' %}"> « Back </a>
</article>
{% endblock content %}