{% extends "base.html" %}

{% block content %}
<div class="center-panel">
	<h2>Books</h2>
	<hr>
	<div class="list-controls">
		<a href="{% url 'book_add' %}"><i class="bi bi-plus-circle"></i> Add</a>
	</div>
	{% if object_list %}
	<ul class="list">
		{% for book in object_list %}
		<li><a href="{%url 'book_detail' book.id %}?next={{ request.path }}">{{ book.title }}</a>
			<div  class="list-controls">
				<a href="{%url 'book_delete' book.id %}"><i class="bi bi-trash"></i></a>
				<a href="{%url 'book_update' book.id %}?next={{ request.path }}"><i class="bi bi-pencil-square"></i></a>
			</div>
		</li>
		{% endfor %}
	{% endif %}
	</ul>
</div>
{% endblock content %}