{% extends "base.html" %}

{% block content %}
<div class="center-panel">
	<form method="post" enctype="multipart/form-data" class="form-card">
		{%csrf_token %}
	 	<h2>{% if book %} Update {% else %} Add {% endif %} book</h2>

		{% for field in form %}
		<div class="form-group">
			<label class="label">{{ field.label_tag }}</label>
			{{ field }}

			{% if field.errors %}
			<ul class="errorlist">
				{% for error in field.errors %}
					<li>{{ error|striptags }}</li>
				{% endfor %}
			</ul>
			{% endif %}
		</div>
		{% endfor %}

		<br>

		<div class="cover-image-preview ">
            {% if book and book.cover_image %}
                <img id="cover_image" src="{{ book.cover_image.url }}" alt="{{ book.isbn }}" width="200" height="300"/>
            {% else %}
                {% load static %}
                <img id="cover_image" src="{% static 'images/book.png' %}" alt="default" width="200" height="300"/>
            {% endif %}
        </div>

		<br>

		<div class="form-buttons">
			<input type="submit" value="Save" class="btn btn-primary"/>
			<a href="{{ next_url }}" class="btn btn-outline">Cancel</a>
		</div>
	</form>
</div>
{% endblock content %}