{% extends "base.html" %}

{% block content %}
<div class="center-panel">
	<div class="panel-row1">
		<div class="side-panel vw-15">
            <div class="book-container">
                <div class="large-image">
                    {% if book.image %}
                    <img src="{{ book.image.url }}" alt="{{ book.title }}" class="image"  accept=".png" width="200" height="300"/>
                    {% endif %}
                </div>
                <div class="book-rating">
                    <form action={% url 'book-rating' %} method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="rating">
                            <input type="hidden" name="id" value="{{ book.id }}">
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button type="submit" class="star {% if book.rating.rating >= 1 %}checked{% endif %}" name="stars" value="1">&#9733;</button>
                            <button type="submit" class="star {% if book.rating.rating >= 2 %}checked{% endif %}" name="stars" value="2">&#9733;</button>
                            <button type="submit" class="star {% if book.rating.rating >= 3 %}checked{% endif %}" name="stars" value="3">&#9733;</button>
                            <button type="submit" class="star {% if book.rating.rating >= 4 %}checked{% endif %}" name="stars" value="4">&#9733;</button>
                            <button type="submit" class="star {% if book.rating.rating == 5 %}checked{% endif %}" name="stars" value="5">&#9733;</button>
                        </div>
                        <div class="btn-box">
                            <button type="submit" class="btn btn-outline" name="stars" value="0">Clear</button>
                        </div>
                    </form>
                </div>
            </div>
		</div>
		<div class="side-panel vw-35">
			<header style="border-bottom: 2px solid #2b2b2b;">
				<h2>{{ book.title }}</h2>
			</header>
			<p><b>ISBN: </b>{{ book.isbn }}</p>
			<p><b>Author: </b>{{ book.author.first_name }} {{ book.author.last_name }}</p>
			<p><b>Publisher: </b>{{ book.publisher.name }}</p>
			<p><b>Edition: </b>{{ book.edition }}</p>
			<p><b>Category: </b>{{ book.get_category_display }}</p>
			<p><b>Genre: </b>{{ book.genre }}</p>
			<p><b>Language: </b>{{ book.get_language_display }}</p>
			<p><b>Comments:</b>{{ book.comments}}</p>
			<br>
			<a class="btn btn-primary cta" href="{% url 'book-list' %}"> « Back </a>
			<br>
			<br>
		</div>
	</div>
</div>
{% endblock content %}