{% extends "base.html" %}

{% block content %}
<div class="center-panel">
	<div class="panel-row1">
		<div class="side-panel vw-15">
			<div class="large-image">
				{% if book.image %}
				<img src="{{ book.image.url }}" alt="{{ book.title }}" class="image"  accept=".png" width="200" height="300"/>
				{% endif %}
			</div>
		</div>
		<div class="side-panel vw-35">
			<header>
				<h2>{{ book.title }}</h2>
			</header>
			<p><b>ISBN: </b>{{ book.isbn }}</p>
			<p><b>Author: </b>{{ book.author.first_name }} {{ book.author.last_name }}</p>
			<p><b>Publisher: </b>{{ book.publisher.name }}</p>
			<p><b>Edition: </b>{{ book.edition }}</p>
			<p><b>Category: </b>{{ book.category }}</p>
			<p><b>Genre: </b>{{ book.genre }}</p>
			<p><b>Language: </b>{{ book.language }}</p>
			<p><b>Comments:</b>{{ book.comments}}</p>
			<br>
			<a class="btn btn-primary cta" href="{% url 'books' %}"> « Back </a>
			<br>
			<br>
		</div>
	</div>
</div>
{% endblock content %}