{% extends "base.html" %}

{% block content %}
<div class="center-panel">
	<h2>Collection</h2>
	<hr>
	<div class="list-controls">
		<a href="{% url 'collection_add' %}"><i class="bi bi-plus-circle"></i> Add</a>
	</div>
	{% if object_list %}
	<ul class="list">
		{% for collection in object_list %}
		<li><a href="{%url 'collection_detail' collection.id %}">{{ collection.name }}</a>
			<div  class="list-controls">
				<a href="{%url 'collection_delete' collection.id %}"><i class="bi bi-trash"></i></a>
				<a href="{%url 'collection_update' collection.id %}"><i class="bi bi-pencil-square"></i></a>
			</div>
		</li>
		{% endfor %}
	{% endif %}
	</ul>
</div>
{% endblock content %}
