{% extends "base.html" %}

{% block content %}
<div class="container">

</div>
<div class="panel-row">
	<div class="side-panel vw-15">
		<h2>My books</h2>
		<div class="book-list">
			<ol>
				<li><a href="{% url 'library-all' %}">All</a></li>
				<li><a href="{% url 'library-favorites' %}">Favorites</a></li>
				<li><a href="">Wishlist</a></li>
				<li><a href="">To Read</a></li>
				<li><a href="">Loaded</a></li>
				<li><a href="">Sold</a></li>
			</ol>
		</div>
		<p class="text-center">Items found {{ object_list|length }}</p>
	</div>
	<div class="side-panel vw-80">
		{% for item in object_list %}
		<div class="book">
			<div class="book-title">
				<p><strong>{{ item.book.title }}</strong></p>
			</div>
	
			<div class="book-image">
				<a href="{%url 'book-detail' item.book.id %}">
					{% if item.book.image %}
					<img src="{{ item.book.image.url }}" alt="{{ item.book.title }}" class="image"  accept=".png" width="200" height="300"/>
					{% endif %}
				</a>
			</div>
	
			<div class="book-info">
				<div class="book-text">
					<p class="italic">{{ item.book.author }}</p>
				</div>
				<div class="book-text">
					<p class="bold"><strong>{{ item.book.genre }}</strong></p>
				</div>
				<div class="book-text">
					<p><strong>ISBN: </strong>{{ item.book.isbn }}</p>
				</div>
			</div>
	
			<div class="book-rating">
                <form method="POST" enctype="multipart/form-data" class="rate-form">
                    <div class="rating">
                        {% csrf_token %}
						<input type="hidden" name="id" value="{{ item.book.id}}">
						<button type="submit" class="star {% if item.rating >= 1 %}checked{% endif %}" name="stars" value="1">&#9733;</button>
						<button type="submit" class="star {% if item.rating >= 2 %}checked{% endif %}" name="stars" value="2">&#9733;</button>
						<button type="submit" class="star {% if item.rating >= 3 %}checked{% endif %}" name="stars" value="3">&#9733;</button>
						<button type="submit" class="star {% if item.rating >= 4 %}checked{% endif %}" name="stars" value="4">&#9733;</button>
						<button type="submit" class="star {% if item.rating == 5 %}checked{% endif %}" name="stars" value="5">&#9733;</button>
                    </div>
                </form>
			</div>

        </div>
		{% endfor %}
	</div>
</div>
{% endblock content %}